CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_abt_asr3000=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cetron_ct3003-ubootmod=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cmcc_a10-ubootmod=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cmcc_rax3000m-emmc=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cmcc_rax3000m=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cmcc_rax3000me=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cudy_ap3000-v1=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cudy_m3000-v1=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cudy_re3000-v1=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cudy_tr3000-v1=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cudy_tr3000-v1-256mb=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cudy_tr3000-v1-ubootmod=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_cudy_wr3000-v1=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_konka_komi-a31=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_huasifei_wh3000-emmc=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_glinet_gl-mt3000=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_glinet_gl-mt6000=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_glinet_gl-x3000=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_glinet_gl-xe3000=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_huasifei_wh3000-pro=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_ikuai_q6000=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_ikuai_q6000-emmc=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_imou_lc-hx3001=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_jdcloud_re-cp-03=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_netcore_n60-pro=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_netcore_n60-pro-512rom=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_newland_nl-wr8103=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_nokia_ea0326gmp=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_qihoo_360t7=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_sl_3000=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_sl_3000-emmc=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_umi_uax3000e=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_xiaomi_redmi-router-ax6000=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_xiaomi_redmi-router-ax6000-512rom=y

